<!DOCTYPE html>
<html lang=zh-cmn-Hans>
    <head>
        <meta charset="utf-8">
        <!-- Set the viewport so this responsive site displays correctly on mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Eric Yuan's Blog</title>
        <!-- Include bootstrap CSS -->
        <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <!-- Site header and navigation -->
        <header class="top" role="header">
            <div class="container">
                <a href="#" class="navbar-brand pull-left">
                    Yuan Ye's Blog
                </a>
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
                <nav class="navbar-collapse collapse" role="navigation">
                    <ul class="navbar-nav nav">
                        <li><a href="/index">主页</a></li>
                        <li><a href="/catalog">分类</a></li>
                        <li><a href="/comment">留言</a></li>
                        <li><a href="/about">关于</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Site banner -->
        <div class="banner">
            <div class="container">
                <h1>一句话介绍自己</h1>
                <p> 从你保养得宜的身材中获得对于自制力的自信、从你读过的书中获得对于知识的自信、
                    从你游过的山水中获得对于阅历的自信、从你结交的各色朋友中获得对于人际交往的自信、
                    从你阅览过的大千世界中获得对于把握力的自信</p>
            </div>
        </div>

        <!-- Middle content section -->
        <div class="middle">
        <div class="container">
            <div class="col-md-9 content">
            {% block content %}{% endblock %}
            </div>
            <div class="col-md-3">
                <h2>推荐的资源</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="http://www.linkedin.com/profile/view?id=AAIAABWEm4wBq3jaB-T_omH-Q2k9tjmT3Bf7UdQ&trk=nav_responsive_tab_profile_pic" target="_blank">我的领英</a></li>
                    <li><a href="http://www.zhihu.com/people/yuan-ye-69-61" target="_blank">我的知乎</a></li>
                    <li><a href="http://www.douban.com/people/87643296/" target="_blank">我的豆瓣</a></li>
                    <li><a href="http://www.zju.edu.cn/" target="_blank">浙江大学</a></li>
                </ul>
            </div>
        </div>
    </div>

        <!-- Site footer -->
        <div class="bottom">
            <div class="container">
                <div class="col-md-4">
                    <h3><span class="glyphicon glyphicon-heart"></span> Footer section 1 </h3>
                    <p>Content for the first footer section.</p>
                </div>
                <div class="col-md-4">
                    <h3><span class="glyphicon glyphicon-star"></span> Footer section 2 </h3>
                    <p>Content for the Second footer section.</p>
                </div>
                <div class="col-md-4">
                    <h3><span class="glyphicon glyphicon-music"></span> Footer section 3 </h3>
                    <p>Content for the third footer section.</p>
                </div>
            </div>
        </div>

        <!-- Include jQuery and bootstrap JS plugins -->
        <script src="static/jquery/jquery-2.1.0.min.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>