{% extends "base.html" %}

<!-- Middle content section -->
{% block content %}
    <h2>第一篇博客</h2>
    <p>谢邀，读研期间开过饼店和t-shirt定制店，工作后也曾做过freelancer，这里给点自己的建议：
       1.考虑完全转型，不再主要做和编程开发有关的事情，考虑传统行业，或者考虑最近很火的O2O，比如线下实体线上营销之类的。
        这一类的事情太多，空间很大，也有一定的钱景。但我想不是LZ的主要意愿，不详谈。

       2.做和程序猿当前技能有关的SOHO工作。
        （1）可以去国内外的知名外包网站接单，建议都去国外网站接单，比如elance,freelancer,guru。国内的taskcity和csto可以看看，
        猪八戒对于程序猿不是个好去处。物以稀为贵，现在大家都蜂拥而上做手游，做app，其实可以去看一下elance这些网站的需求，虽然app
        开发需求多，但去抢单的更多，反倒是体感游戏开发或者其它目前大家关注较少但是也有需求的技能很吃香。

        （2）针对海外市场做独立游戏开发，这个需要强大的个人技能（开发，策划，美术，市场）。不一定自己一个人做，可以跟人合作，甚至
        可以和老外合作。老外很容易接受跨国跨地区的线上合作，反倒是国人不一定能接受。产品不一定针对iOS,Android市场，当别人都盯着这
        里的时候，你反倒可以试试做PC的，体感的，可以投放到steam等平台。

        （3）针对海外市场做独立软件开发或者建个网站做SAAS服务。很多老外独立软件开发者都是这样做的，特别是做SAAS服务比较靠谱。
         但前提是海外市场。

        （4）如果是回老家，有一些本地资源关系，还可以做一些to B的网站或软件开发，但难度比较大，一个人会有问题。但如果是做一些管理
        维护或咨询工作，就相对简单些。总的来说，不管是接外包项目，还是做独立开发者（游戏，软件，SAAS），还是利用关系做东西或者咨询，
        都要有个人品牌意识（固定的个人网站，博客，相对固定的产品和服务类型），不要打一枪换个地方。而且在某个领域做的久了，哪天浪潮
        来了就可以顺势而起，利用自己的累计和沉淀做一番事业。多去尝试下海外市场吧，在这片神奇的土地上做SOHO比创业还难。</p>
    <div class="to-tutorial">
        <p><strong>返回主页</strong></p>
        <a href="/index" class="btn btn-success">Back to Home</a>
    </div>

{% endblock %}