{% extends "base.html" %}

<!-- Middle content section -->
{% block content %}
    <h2>第一篇博客</h2>
    <p>我将会在这里放第一篇博客文章！</p>
    <div class="to-tutorial">
        <p><strong>更多信息请点击</strong></p>
        <a href="/blog" class="btn btn-success">More...</a>
    </div>

    <h2>第二篇博客</h2>
    <p>我将会在这里放第四篇博客文章！</p>
    <div class="to-tutorial">
        <p><strong>更多信息请点击</strong></p>
        <a href="/blog" class="btn btn-success">More...</a>
    </div>

    <h2>第三篇博客</h2>
    <p>我将会在这里放第四篇博客文章！</p>
    <div class="to-tutorial">
        <p><strong>更多信息请点击</strong></p>
        <a href="/blog" class="btn btn-success">More...</a>
    </div>

    <h2>第四篇博客</h2>
    <p>我将会在这里放第四篇博客文章！</p>
    <div class="to-tutorial">
        <p><strong>更多信息请点击</strong></p>
        <a href="/blog" class="btn btn-success">More...</a>
    </div>
{% endblock %}